html, body{
  height: 100%;
}

h1{
  text-align: center;
}

ul {
  width: 75%;
  display: table;
  table-layout: fixed;
}

ul ul {
  size: 20%;
  display: table-cell;
}

ul ul a {
  text-align: center;
  display: block;
  color: aliceblue;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header{
  min-height: 80px;
  min-width: 100%;
  color: whitesmoke;
  padding: 10px;
  background: black;
}

.loginLayout{
  position: relative;
  max-width: 50%;
  margin-top: 2rem;
}